<header class="header">
	<div class="container header__container">
		{{ partial "logo.html" . }}
		{{ partial "menu.html" . }}
	</div>
<!-- clicky -->
 <script>var clicky_site_ids = clicky_site_ids || []; clicky_site_ids.push(100632801);</script>
 <script async src="//static.getclicky.com/js"></script>
 <noscript><p><img alt="Clicky" width="1" height="1" src="//in.getclicky.com/100632801ns.gif" /></p></noscript>
 <!-- end clicky -->
 <!-- plausible -->
 <script async defer data-domain="chs.us" src="https://plausible.io/js/plausible.js"></script>
 <!-- end plausible -->
 
 <!-- Google -->
<script>
var doNotTrack = false;
if (!doNotTrack) {
	window.ga=window.ga||function(){(ga.q=ga.q||[]).push(arguments)};ga.l=+new Date;
	ga('create', 'UA-92888611-1', 'auto');
	ga('send', 'pageview');
}
</script>
<script async src='https://www.google-analytics.com/analytics.js'></script>
<!-- Google -->
</header>
